.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
*.rds
*.RDS
*.ini
*.accdb
*.asc
*.csv
*.txt
*.xlsx
*.pdf
*.tif
*.fam
*.mlma
*.log
*.gz

data/Johnston_ATAC-seq/*
code/config/*/*
analysis/*html
analysis/*_cache
analysis/site_libs
